<div class="container bg">
    <h1>Hello!</h1>
    <p class="text-justified">Thank you for visiting my site! I hope that it looks visually appealing. This is something that I decided I wanted to get
      some more experience in and try and start from scratch and see what I could do with it. My plan is to continue to work
      on this site and improve it as I learn more. Changes such as adding a login page that connects to a database for the
      games. Also, to make several games that are accessible to play.
    </p>
    <p class="text-justified">
      This is something I am doing to start my career. A little about me is that I graduated from Kansas State University in Computer
      Engineering in December 2018 and am working at Infosys Limited. In our training we went over a bit on Angular as full
      stack developers and I enjoyed it even though I had never seen it before. So, I decided to better myself and try and
      make my own site and try to learn along the way. On the home page, I have the links to the site that I used to help create
      this website if you are interested in trying for yourself, as well as my way of showing appreciation for the instructions.
    </p>
    <p class="text-justified">
      My hope for this site is to show some of the things that I can do in a resonable amount of time. My goal is that each of
      the individual components don't take more than a work day worth of time to make to core code and base html. Then I take
      a little time here and there to update each one to make it look nice with css and adjust everything to look nice as well
      as have a function. Right now the About, Contact, Games and Home tab don't need a back-end. These components are designed
      to use just the front end, although the Contact tab does use an api, I did not create it.
    </p>
  </div>